*.log
target/
.settings/
local/
classes/
MANIFEST.MF
/local/*
*/target/
/.idea/
/.settings/
*.classpath
*.project
*.iml
.ipr
.iws
rebel.xml
log/
disconf/download/*
*.ipr
*.iws
bin/
#git file
*.orig

#mac
#DS_Store
#windows
Thumbs.db